libhwloc:
  - 1      # [not (osx and arm64)]
  - 2

docker_image:                                           # [linux64 or ppc64le or aarch64]
  - quay.io/condaforge/linux-anvil-cuda:11.2            # [linux64]
  - quay.io/condaforge/linux-anvil-ppc64le-cuda:11.2    # [ppc64le]
  - quay.io/condaforge/linux-anvil-aarch64-cuda:11.2    # [aarch64]

cuda_compiler_version:
  - None

cdt_name:  # [linux64 or ppc64le or aarch64]
  - cos7   # [linux64]
  - cos7   # [ppc64le]
  - cos7   # [aarch64]

cudnn:
  - undefined

enable_cuda:
  - True      # [linux64 or ppc64le or aarch64]
  - False     # [not (linux64 or ppc64le or aarch64)]
